*{
    box-sizing: border-box;
}

body {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
width: 100%
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
   /*  width:max-content;
     background-image: url("./images/beach.jpg"); 
     background-size: cover; 
    color: #f5f7f1; */

}

.introInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Need to figure out order when screen gets smaller */
nav {
    display: flex;
   /* text-align: center; 
    border-style: solid;
    border-width: 2px;
    margin: -154px -39px; got the nav bar in the upper right hand of the page */
   
}

ul {
    
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 11px 28px;

}

li {
    padding: 1%;
    
}

.rightpic {
    width: 62%;

}
.leftpic {        /* use for next projects */
    margin: 54px;
    width: 32%;
    float: left;
}

.rightSide {
    display: flex;
}

footer {
    display: flex;
    background-image: url("./images/beach.jpg");
    color: white;
}

h2 {
    font-size:40px;

}


.imgBig {
    width: 55%;
    height: auto;    
}
.imgReg{
    width:40%;
    height: auto;
}
.white-text {
   color: white;
}

.visible-link  {
    color: black;
}

.about {
     
    margin: 13rem 1rem 14rem;
    display: block;
    border-bottom: 10px solid darkblue;
    padding-bottom: 25%;
}

.center {
    display: flex;
    justify-content: left;
}



#phoneNumber:hover {
    display: flex;
    position: relative;

}
#email {
    display: block;
  
}
#linkedin {
    display: block;
   
}

.introParent {
    display:flex;
    flex-direction: row-reverse;
}


.parentPic {
    display: flex;
    justify-content: center;
}
.parentWork {
    display: flex;
    flex-direction: row-reverse;
}    
.parentBigImage {
    text-align: center;
}
.parentRegImage {
    display: flex;
    justify-content: center;
}

.workLeftImage {
    text-align: right;
    padding-right: 8%;
}
.workRightImage {
    text-align: left;
    padding-left: 8%;
}

.infoFooter{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.phoneContainer{
    position: relative;
}

.mobile {
    position: absolute;
    visibility: hidden;
    top: 30px;
    width: max-content;
}

.phoneContainer:hover .mobile {
    display:flex;
    flex-wrap: nowrap;
    visibility: visible;
    opacity: 1;
}



/* @media screen and (max-width: 600px) {
    body {
        display: flex; 
        flex-direction: column;
    } */
    /* title {
        display: flex;
        text-align: center;
    } */

/* } */
