*{
    box-sizing: border-box;
}

#footer {
    
    justify-content: space-evenly;
    background-color: chartreuse;
}

.phoneContainer{
    position: relative;
}

.mobile {
    position: absolute;
    visibility: hidden;
    top: 30px;
    width: max-content;
}

.phoneContainer:hover .mobile {
    display:flex;
    flex-wrap: nowrap;
    visibility: visible;
    opacity: 1;
}
#phoneNumber:hover {
    display: flex;
    position: relative;

}


.rightpic {
    width: 40vw;
    height: 63vh;
    min-width: 266px;
}

@media screen and (max-width: 600px) {
    body {
        display: flex; 
        flex-direction: column;
    }
   
}